version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/app
    command: sleep infinity
    environment:
      - PHP_IDE_CONFIG=serverName=localhost