version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/app
    command: /usr/local/bin/start.sh
    environment:
      - PHP_IDE_CONFIG=serverName=localhost
    networks:
      - laravel
    healthcheck:
      test: ["CMD-SHELL", "grep -q ':2328' /proc/net/tcp"]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ../:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      app:
        condition: service_healthy
    networks:
      - laravel

networks:
  laravel:
    driver: bridge